[2019-04-09 02:57] oskarth opened #22 "Unable to build project"
Running

[code]
Expected result: it builds
Actual result: error loading module requirements, see log below

Even better would be if there's a Makefile with make and make clean

## Logs

[code]

[2019-04-09 02:57] oskarth commented on #22
^ @adambabik fyi

[2019-04-09 06:09] adambabik commented on #22
@oskarth which Go version you have installed?

[2019-04-09 07:11] oskarth commented on #22
[code]

[2019-04-09 09:07] adambabik commented on #22
Ok, I found the problem. Folks from libp2p removed the old git tags. That's why the versions saved in `go.mod` and `go.sum` cannot be found anymore.

We need to update libp2p packages to their newest versions. This requires quite some work because, for example, rendezvous uses old libp2p libraries.

Alternatively, try to build it with `GOFLAGS=-mod=vendor go build -o ./bin/status-term-client .`. T

[2019-04-15 02:36] oskarth commented on #22
Thanks, that worked!

[2019-04-15 18:36] #22 closed

[2019-05-20 10:44] dshulyak opened #43 "Send event to feed when contact was added/changed"
Consume it on the side of ConactsView. It will allow not to redraw contacts soo often

[2019-05-21 18:12] adambabik opened #45 "Move SQL serialization of ECDSA Public Key in Contact struct"
The idea is to implement a custom type and SQL serializer:

[code]

The value can be either assigned to `Contact` like this:

[code]

or it can be a separate field and getting the ECDSA Public Key struct will be done through a method:

[code]

The latter approach is less appealing in this case because for `Contact` struct we only use fields for now so we end up with collecting some values as field

[2019-05-22 16:07] decanus opened #46 "Error: file is encrypted or is not a database"
Since the SQLite update, I keep getting the error "file is encrypted or is not a database" when trying to run the console client, is there some kind of setup that needs to be run beforehand? If yes this should be added to the readme so people can actually run the client.

[2019-05-22 16:13] mandrigin commented on #46
hmm, never had this issue, @adambabik @dshulyak maybe you know?

[2019-05-22 16:32] dshulyak commented on #46
could it be that you are using multiple different keys with the same datadir? i think this error is raised when sqlite tries to decrypt db with wrong key

[2019-05-22 16:36] cammellos commented on #46
sqlite version differences, kdf iterations as well might be the culprit, I can have a look as well

[2019-05-22 16:36] decanus commented on #46
@dshulyak so it seems like I don't even have a datadir, which would be located under `/tmp/status-term-client`

[2019-05-22 16:46] dshulyak opened #47 "Update status-go dependency to fix hanging RequestAll"
this change https://github.com/status-im/status-go/commit/d32cd18c097ec7339b36059d98666838ad87f600 needs to be included in build

otherwise RequestAll may hang

[2019-05-22 16:49] dshulyak commented on #46
so have you tried with clean directory? sorry for dumb question :). unless you changed things mentioned by @cammellos i have no clue how to get this error

we can add a note to README that db in datadir is now encrypted. so user will have to make sure that one key = one datadir.

[2019-05-24 10:46] dshulyak opened #50 "Console client gets stuck on sending messages to whisper proto layer"
To reproduce sent multiple messages. Around 5-10 client will be stuck

[2019-05-25 07:00] oskarth commented on #46
Same issue with clean directory

[2019-05-25 13:56] oskarth opened #52 "No UI mode unclear"
How do you send messages with it or do anything with it?

[2019-05-25 13:56] decanus commented on #46
@oskarth I generated a keypair and I am still experiencing this issue.

[2019-05-25 13:57] oskarth opened #53 "Adding contact / sending to pubkey unclear"
I can only see adamb, how do you add people / message to other channel? OK if it happens in config file

[2019-05-25 14:00] oskarth commented on #46
@decanus When you generate a keypair it should persist to above tmp directory (or maybe different dir). Did you find this directory? If yes, did you remove it and regen keypair? If no, wtf maybe trace go code to see why it succeeds but doesn't persist (file dir permissions? mkdir -p /tmp/status-term-client/?)

[2019-05-25 14:10] decanus commented on #46
Ok so I tried again it doesn’t seem to create the data dir. even though the ownership should be completely fine

[2019-05-25 17:38] decanus commented on #53
I believe you tab to the input, type `/contact 0x0` where `0x0` is the public key.

[2019-05-25 17:39] decanus opened #54 "Add Public Key to UI"
To make it easier to test, the Public Key should be added to the UI so I don't need to find it in logs.

[2019-05-25 17:40] decanus opened #55 "Changing Key Pair Creation"
Currently I need to call `-create-key-pair` before using the application. In order to make initialization easier, if I don't pass a `-keyhex` parameter, one should be created for me.

[2019-05-25 18:00] decanus opened #56 "cursor moves"
When selecting contacts and taking a while the cursor moves up, this seems to be due to a consistent tick.

[2019-05-26 09:49] oskarth opened #58 "UI hangs"
Often I select I contact, see some stuff in chat, type message in input and it hangs (unresponsive, no message sent, can't edit).

I also get https://github.com/status-im/status-console-client/issues/56

If there's a no ui mode where I can just type /message <topic> message and get the whole stream of replies for all messages in a log that'd be more useful for current purposes, I can just grep tha

[2019-05-26 09:55] oskarth opened #59 "-ds flag not working as expected"
at datasync branch commit 17f64fc09345a85f773882dbc33ad40031f53a05

Writing to adamb

Expecting to see OFFER etc in

but only see

2019/05/26 17:52:43 [ChatViewController::readEventsLoops] received an event: {Interface:{baseEvent:{Contact:adamb Type:EventTypeMessage} Message:0xc00135df80}}
2019/05/26 17:52:43 [ChatViewController::readEventsLoops] selected contact adamb, msg contact adamb
2019/05/2

[2019-05-26 09:55] oskarth commented on #59
@decanus

[2019-05-26 14:53] decanus commented on #59
@oskarth you won't see `OFFER`s unless someone OFFERs you a message, you offering does not emit a log.

[2019-05-27 07:36] #59 closed

[2019-05-27 08:15] adambabik commented on #58
Looking into it. I have the same problem.

[2019-05-27 08:16] adambabik commented on #58
You can interact with the process using netcat:
[code]

And send JSON-RPC messages. I will describe it in README.

[2019-05-27 09:39] dshulyak commented on #58
https://github.com/status-im/status-console-client/issues/50

[2019-05-27 10:02] adambabik commented on #50
I can't send even one so it's a regression. Will assign to myself because it's the same root cause as in #58.

[2019-05-27 10:17] dshulyak commented on #50
btw i can't make it hang with updated status-go https://github.com/status-im/status-console-client/pull/49 . i fixed one issue with hanged history retrieval. maybe it has effect on some other parts as well

[2019-05-27 11:20] dshulyak commented on #50
yeah i think it is fixed with status-go update. there was an issue where one of the whisper feed subscribers wasn't consuming events from feed. and thus all publishers hanged. because each whisper processQueue publishes to feed - they all got stuck. and whisper.Send got stuck as well because it tries to send to the channel that should be consumed by whisper.processQueue.

[2019-05-27 11:22] #47 closed

[2019-05-27 11:23] dshulyak commented on #50
@adambabik i merged status-go update. can you retest this issue please?

[2019-05-27 11:54] adambabik commented on #50
@dshulyak just pulled master and it seems like the problem is fixed.

[2019-05-27 11:57] adambabik commented on #58
@oskarth can you test with the newest master?

[2019-05-27 13:21] oskarth opened #61 "Basic simulation testing of data sync"
(From https://github.com/status-im/bigbrother-specs/blob/master/data_sync/p2p-data-sync-mobile.md#simulation-1-1-1-chat-basic)

## Simulation 1: 1-1 chat (basic)

Two nodes talking to each with 10% churn each. That is: 10% probability to be online at any given time. When online, a node is online for X time. For simplicity, let's assume X is 5 minutes. This can be a parameter and be varied up to co

[2019-05-27 13:22] oskarth commented on #61
^ @jakubgs @decanus @adambabik

[2019-05-27 13:31] adambabik commented on #46
This is reproducible when using the same data directory but with different private keys. As we want to keep it user-friendly and don't require passing a unique data dir for each key, I suggest prefixing data dir with the public key.

[2019-05-27 17:19] #56 closed

[2019-05-28 08:49] adambabik opened #64 "Extract public keys comparison to a helper"
In a few places, we rely on the checking equality of public keys. We use elliptic curves which means we have three parameters to compare: type, X and Y coordinates.

Currently, in a few places this can be found:
[code]

[2019-05-28 08:49] #46 closed

[2019-05-28 14:35] decanus opened #66 "Starting client failed"
```./bin/status-term-client -keyhex omittedlol -data-dir=../status-data -ds  2>/tmp/status-term-client.log```

[code]

[2019-05-28 23:49] decanus opened #67 "Vendor Folder"
It's usually pretty ugly practice to include folders like `vendor` in the github repository if this is something every user can easily download with assistance to the package manager.

Unless there is a a reason for this to be include I would vouch for it to be deleted and added to the gitignore.

[2019-05-29 06:15] adambabik commented on #67
In Go it's a normal practice. There is an official support for that with `go mod vendor`. Currently, we test on Go without Go modules support and `vendor/` makes it possible. Also, it speeds up CI pipeline as it does not need to download dependencies from the internet every time.

Source: https://github.com/golang/go/wiki/Modules#how-do-i-use-vendoring-with-modules-is-vendoring-going-away

We may

[2019-05-29 06:15] #67 closed

[2019-05-29 12:42] oskarth opened #68 "Copy pasting public key formatting"
When I want to add a contact it screw up formatting, so it shows up as

`/contacts add 0xaaaa  2 a  l o t s o f s p a c e s`

Sometimes it posts public key double as well. Pasting in other terminals works fine.

cc @adambabik

[2019-05-29 21:04] oskarth opened #69 "1:1 messaging not working"
When I add a contact and message them, they receive OFFER messages with data sync mode. I see my own messages in chat window. However, it doesn't receive any messages. This is true in both -ds mode and vanilla mode.

Public chat works, public key contact is right (since there's some communication), and mvds works in isolation.

Expected behaviour is to be able to add a contact and talk to them 1:1

[2019-05-29 21:29] adambabik opened #70 "Invalid clock value for a new chat"
<img width="600" alt="Screen Shot 2019-05-29 at 23 28 18" src="https://user-images.githubusercontent.com/277870/58592771-81a8a180-8269-11e9-85df-fc1d745d43f8.png">

The first messages sent from the console client have invalid clock value which is not a unix time in ms.

[2019-05-29 21:33] adambabik commented on #69
I just verified and it works with `-pfs` and without. I confirmed that using Status Desktop client. Are you sure you had the latest master? It was fixed in https://github.com/status-im/status-console-client/pull/60.

I am working on the cursor bug. The temp solution is to expand terminal to full screen size.

[2019-05-29 21:33] #50 closed

[2019-05-29 21:34] adambabik commented on #58
Fixed in #49

[2019-05-29 21:34] #58 closed

[2019-05-29 21:36] adambabik commented on #66
The path is too long. Not sure why go-ethereum limits it so heavily. Please try with `-no-namespace` option but remember to remove the whole dir if you use different key.

[2019-05-29 21:38] adambabik commented on #66
Actually, it's unix thing: https://unix.stackexchange.com/questions/367008/why-is-socket-path-length-limited-to-a-hundred-chars

[2019-05-29 21:39] adambabik commented on #68
https://github.com/jroimartin/gocui/issues/187

[2019-05-29 21:50] decanus commented on #66
@adambabik any way we can hack that by creating a symlink?

[2019-05-29 21:52] decanus commented on #69
@adambabik if that is the case, it may work now. I don't see any other reason why it wouldn't work. Unless there is an issue in the way I am decoding but I don't think that is the case also there is a log for that.

[2019-05-29 21:54] mandrigin commented on #66
theoretically you should be able to workaround that by not using the absolute path for a socket. or by putting the socket to `/var/run` or to `/tmp` (usual practices).

[2019-05-29 21:55] decanus commented on #66
@mandrigin sounds simple enough

[2019-05-29 22:10] adambabik commented on #68
Btw, it's only triggered when the terminal window size (width) is shorter than the pasted text length.

[2019-05-29 22:23] adambabik commented on #70
Actually, this is a bug from Status Desktop. The first values are correct timestamps in ms and the first incoming message has a clock value with two more digits.

[2019-05-29 22:25] adambabik commented on #66
@decanus or just start with `-data-dir=/tmp/test-dir`. It will fit into the 108 char bufor for sure.

[2019-05-29 22:25] #70 closed

[2019-05-29 22:29] adambabik commented on #68
Workaround proposed in #71.

[2019-05-30 06:34] adambabik opened #72 "Public chats with -pfs does not work"
It crashes when the console client is started with `-pfs` and a message to public chat is sent.

[2019-05-30 06:47] adambabik opened #73 "Bring Whisper Client adapter on par with Whisper Service adapter"
There are significant differences between both now, like support of PFS.

First, prepare a list of missing features in Whisper Client adapter and then implement them.

[2019-05-30 09:04] oskarth commented on #68
Ah, terminal zoom out works, thanks

[2019-05-31 08:30] #72 closed

[2019-05-31 14:28] adambabik commented on #68
Closing for now because implemented workarounds are enough.

[2019-05-31 14:28] #68 closed

[2019-05-31 14:29] #66 closed

[2019-05-31 14:29] adambabik commented on #55
Can do.

[2019-05-31 15:08] #53 closed

[2019-05-31 15:11] adambabik commented on #52
Its purpose is to just start the node. Geth node can provide various interfaces like HTTP and unix sockets. For example, a netcat can be used to connect to a unix socket and communicate using exposed interfaces.

I will add an entry in README.md describing it.

[2019-06-01 15:25] decanus commented on #73
@adambabik It might be nice if we put those features into separate classes so we can also use them for `data_sync` making sure that the adapter and service really only have transport logic vs also PFS etc.

[2019-06-03 07:01] adambabik commented on #73
That's a good point. We may need some more abstraction here or move some responsibilities to other classes. PFS does not really belong to Whisper.

[2019-06-03 07:01] #55 closed

[2019-06-03 07:02] #54 closed

[2019-06-04 09:50] oskarth commented on #69
@decanus @adambabik did we confirm it works now?

Can we run basic end to end tests w/o requiring two humans to be online sync?

[2019-06-04 12:05] adambabik commented on #69
@oskarth yes, you can run two nodes on one machine, for example:
[code]

Then, add Node1 as a contact to Node2 and vice versa and you will have a test of 1-1 communication on a single machine.

Alternatively, add Node as a contact to Status Desktop and start conversation.

[2019-06-04 14:46] decanus commented on #69
@adambabik we should document this all better in the README

[2019-06-04 14:59] decanus commented on #69
Also @oskarth and @adambabik, can we figure out a way to put that in a script?

[2019-06-04 16:27] adambabik commented on #69
@decanus We can have some kind of e2e/smoke tests which actually use network and send messages between two nodes. What a script would be useful for?

[2019-06-04 23:08] jakubgs commented on #61
So what is already available to make this happen? Where is the implementation? Do we have some kind of CLI tool for sending messages?
@adambabik you would probably know were we stand on this. I'm happy automating tests and measuring of the tests, but I'm not sure where to start on sending of messages.

[2019-06-04 23:14] decanus commented on #61
@jakubgs As of today the CLI implementation works, so starting CLI clients and having them communicate with each other is the way to go.

[2019-06-04 23:16] jakubgs commented on #61
Oh, cool, I'l play with it then.

[2019-06-04 23:21] decanus commented on #61
https://github.com/status-im/status-console-client/pull/34 check out this PR @jakubgs

[2019-06-10 01:47] StatusWrike commented on #61
➤ Oskar Thoren commented:

Jakub Sokołowski is it doable for the basic test to be up and running this week? how much effort do you think it requires? do you need anything else?

[2019-06-10 17:30] jakubgs commented on #61
Yeah, I'd like to now how I can send messages with the CLI agent without using the GOCUI thing.
I can see there's a `-no-ui` but it seems to just take away all interactivity.
I can also see it's listening on `30303` and that's it, so i see no control port for RPC or anything like that.
How can I send a message with this without having to use the CUI?

[2019-06-10 17:31] jakubgs commented on #61
I was kinda expecting `-no-ui` to allow me to send messages by providing them though just `stdin`, but that doesn't seem to do anything. And this doesn't seem to have any commands to selecting a channel or contact to talk to.

[2019-06-10 17:37] jakubgs commented on #61
BTW, this client is really cool actually. If I could somehow use my usual account with this(how can i extract my own private key hex?) and it had a few extra commands like `/join`, `/leave`, and `/msg`, i could totally switch from the abysmal desktop client.
Though what would really kill it is a fuzzy search of channels in the left pane for easy switching.

[2019-06-10 17:47] decanus commented on #69
@adambabik this seems to work now, closing issue.

[2019-06-10 17:47] #69 closed

[2019-06-11 12:28] StatusWrike commented on #61
➤ Jakub Sokołowski commented:

And as to your question Oskar, it's definitely doable if I have a way to script using the command line tool, but as it stands it seems to require human-like interaction.

[2019-06-11 12:57] oskarth commented on #61
Agree that'd be useful and probably a requirement. @adambabik @dshulyak can we do this?

[2019-06-13 06:48] dshulyak commented on #61
not sure if command line api is a convenient way to implement such testing. to simulate configured churn higher level orchestration will be required. things like bandwidth overhead require in-app instrumentation and tooling to get meaningful data from that simulation.

i had this tool for whisper and discovery testing. basically it had following modules:
- docker shim to bootstrap cluster from our

[2019-06-13 15:13] jakubgs commented on #61
That's a fair point, and I'd agree, if we want more in-depth data than writing a tool with the explicit purpose of being for doing simulations like this is the way to go, kinda like https://github.com/status-im/simulation that @divan did some time ago.

But if all we want is some simple measurements than this client could be enough. All you'd need to orchestrate it sending messages is a way to sen

[2019-06-13 16:31] dshulyak commented on #61
that tool has a different use case. at least in my understanding, this test requires cluster setup, measuring and simulation of the various conditions (like configurable churn, or increased packet loss). the latter makes all the difference. it is very easy to implement them when you are simply writing a test in a programming language. otherwise, tool itself will stand in your way to test what you

[2019-06-14 18:30] jakubgs commented on #61
I guess the question is how in-depth we want to go. If this simulation is a one-off thing and we just want to answer only the questions @oskarth posed, than it might be fine to just make a few small changes to this client and use it to do the simulation, but if we want more metrics, more control, easier ability to change the parameters of the simulation, then developing a dedicated test suite as y

[2019-06-14 20:59] decanus commented on #61
@jakubgs We should definitely opt for more extensive simulations with more metrics, control etc.

[2019-06-15 05:05] oskarth commented on #61
Good discussion. I think both basic simple testing and more extensive testing with scaffolding etc are useful.

@dshulyak do you want to try to resurrect that framework and integrate into status-console-client so we can use it?

I did some super basic testing just to get ballpark answers re BW multiplier latency. Essentially just using `mvds` standard simulation and grep. https://notes.status.im/7

[2019-06-15 10:15] adambabik commented on #61
@oskarth yes, mailservers works with status-console-client.

Regarding the simulation tooling, I think it's a good idea but it will take some time. Also, it would be great if we can make generic so that no changes in status-console-client are required to put it into this simulation framework. We can base it on a docker container like it was mentioned.

I still plan to add two things:
- bash script

[2019-06-17 05:35] StatusWrike commented on #61
➤ Oskar Thoren commented:

Dean EigenmannJakub Sokołowski do you want to fork this issue in some way? Right now it's not very clear to me who will do what (you are both assigned here).

Adam BabikDmitry Shulyak likewise, if you could fork into separate issues from your POV things that you personally want to do and link there that'd be great.

If some task feels it should be done but it isn't curre

[2019-06-17 17:58] corpetty commented on #61
I have recently spoke with Trail of Bits (CCing @lojikil) about V1 audits and whisper came up.  They have been investigating it by happenstance and lack a good client to do tests with.

It behooves us to work together on this, and either push this repo as that client (with a few QoL modifications) or to build the test framework (how much work is this???)

Stefan can you give us  some requirements

[2019-06-17 21:37] jakubgs opened #89 "Search feature for channels"
I really like this client, and it would definitely replace the desktop client if it had one thing, and that's channel/chat search. Essentially the same as in the desktop app, which is right above the list of channels and 1-to-1 chats that filters the list.

The only thing remaining would be some shortcuts. Something like:

* `ctrl-k` - Focus the search window from any other window.
* `ctrl-l` - Cl

[2019-06-17 21:40] jakubgs opened #90 "Better handling of / commands"
Currently if I type `/test` in the client input window it will post `/test` to the channel I'm in.
What it should do is show a warning about a non-existent command.

We also need a `/help`, even if a basic one.

[2019-06-18 05:11] dshulyak commented on #61
i was planning to use this framework for testing new chat API that will be used by status-react. but i can spin up some temporary api for tests.

what mvds does when it can't receive an ack for sent message? it will try to retransmit until ack is received or it will stop at some point?

[2019-06-18 05:31] dshulyak commented on #61
some changes will be required though. like exposing metrics that we want to collect, or adding an api that will be used for tests.

[2019-06-18 09:08] dshulyak opened #91 "Status console client crashes"
I am currently using latest master commit and client crashes when started, see error below:

[code]

[2019-06-18 09:19] dshulyak commented on #91
@adambabik could be it be related to recent refactoring?

[2019-06-18 20:22] jakubgs commented on #61
@oskarth

Agreed, and based on what Adam said here:

Here's a proposal of splitting this into 4 steps/tasks:

* Extracting the pure console client code as a library to a separate repo
* Adjusting the library API to also meet the requirements of Trail of Bits security audit
* Refactoring of `status-console-client` to use the new library
* Use the newly created library to create a testing/simulating

[2019-06-18 20:29] decanus commented on #61
@jakubgs it seems like once the first step is complete, some of the other ones are parallelizable?

[2019-06-18 20:31] jakubgs commented on #61
Possibly, depends on how much work there would be to adjust the library to allow Trail of Bits to do their audit, and how much that would change how `status-console-client` interacts with it.
At the very least the last two should be able to go in parallel.

[2019-06-19 07:20] #91 closed

[2019-06-19 08:14] dshulyak opened #94 "status client broken after updated dependencies"
after thjis commit https://github.com/status-im/status-console-client/commit/3af981c945095cf0c7f1d0384e1ff2b836a71fde binary cannot be built

[code]

[2019-06-19 12:37] #94 closed

[2019-06-20 10:07] dshulyak commented on #61
there are api methods to interact with messenger here https://github.com/status-im/status-console-client/pull/92, you can also use curl see API.md

and https://github.com/status-im/status-scale/pull/29 a test example with this api and exported metrics. if needed you can introduce additional latency between peers and/or packet loss. will share example later

[2019-06-21 05:08] dshulyak opened #97 "Client shouldn't fail to start without mailservers"
If there are no mailservers or request timed out client will terminate, instead it should show a warning if there are no mailservers and retry until success in background if initial request failed.

[2019-06-21 05:52] dshulyak opened #98 "Client gets stuck requesting messages from mail servers"
Created a test with 1000 messages in the database. After receiving first batch client tries to request second one with cursor and never terminates:

[code]

[2019-06-24 08:32] adambabik opened #99 "Joining a chat in Messenger should automatically add a contact"
### Problem

Currently, when joining a new chat, the contact is not added to the list of contacts but a Whisper subscription is created. This makes it difficult to get messages because `Messenger.Messages` require a contact to load them.

### Solution

Add a contact automatically when joining a chat.

[2019-06-24 08:41] dshulyak opened #100 "Status client can't connect to selected mail server after being offline for long period of time"
After disabling network connection for > 30s status node won't be able to connect to mail server in reasonable time. So request fails in the end.

I think the root cause is the same as on macos desktop client that can't connect to mailserver.
It is probably needs to be fixed ethereum devp2p server, but will track it here for a while.

[2019-06-24 12:42] dshulyak opened #101 "Console client should provide api to select mailserver"
Status console client selects random mail server from a list of configured mail servers. It is clearly prone to network issues, i collected bandwidth stats from mailservers in 3 different regions:

bw stats
=========

mail do beta
---

- - - - - - - - - - - - - - - - - - - - - - - - -
[ ID] Interval           Transfer     Bandwidth       Retr
[  4]   0.00-10.00  sec  60.8 MBytes  51.0 Mbits/sec  2

[2019-06-24 14:37] dshulyak opened #102 "Sending messages concurrently using messenger.Send sometimes fails"
In https://github.com/status-im/status-scale/pull/32 1000 of messages are sent concurrently, sometimes leads to message uniqueness failure:

--- FAIL: TestHistoryDownload (31.27s)
 require.go:794:
 Error Trace:        mailservers_test.go:58
 Error: Received unexpected error:
 failed to save msg with payload 603: failed to save the message: message with given ID already exist
 failed to save msg wi

[2019-06-24 16:28] dshulyak commented on #99
it is probably not a big deal in performance, we can add contact automatically, but why app can't explicitly call AddContact rpc method?

[2019-06-24 18:39] adambabik commented on #99
@dshulyak it can but then we would need to return an error if joining a chat that has no contact. What I want to avoid is that one joins a chat but `Messenger.Messages` returns nothing.

[2019-06-24 20:38] adambabik commented on #101
Maybe we can implement a mechanism that would try to select the nearest mailserver from a list if none is already selected? However, this should be in status-go rather than here.

I agree that we should have add/select/delete mailserver operations on the messenger.

[2019-06-25 05:31] dshulyak commented on #102
There is a race condition between saving message in Send method, and saving message when receiving from Stream. Stream ignores uniqueness failures, and Send doesn't. We should either do whole Send inside of the same tx so that db connection is not released, and Send always will be able to save message before Stream will get access to db connection. Or remove saving messages in Send at all.

[2019-06-25 05:35] dshulyak opened #103 "Client API doesn't provide confirmation that message is received"
Current app depends on the confirmation from mailservers for reliability guarantees, otherwise many messages will appear as sent but they actually weren't delivered anywhere.

I think that protocol should implement upcall that message was delivered. In plain whisper we will use what we have, and mvds will provide another mechanism.

cc @adambabik

[2019-06-25 06:01] dshulyak commented on #101
we should. relying on the user to select right mail server is prone to all sorts of issues

[2019-06-26 09:49] dshulyak commented on #100
[code]
So, the code in ethereum/p2p/dial.go ensures that we don't dial same peer sooner than 30s from previous dial. because p2p/server.go will try to dial every static peer in a loop without this rate limiter, so we clearly can't simply remove it.

I think the cleanest way we could do it is to remove this limit when srv.AddPeer is called, as we do that before each history request it will ensure t

[2019-07-01 07:33] cammellos opened #110 "Data sync code does not authenticate messages"
When syncing with mvds, we pass to other peers the `Payload` of a whisper received message.
This is not enough to validate a message, as it does not contain any signature of the message, therefore no authentication nor integrity checks can be made.

To overcome this there are a few ways, the first ones that come to mind is either we include a signature in our data, so that it is transferred in-ban

[2019-07-01 11:26] decanus commented on #110
So I think it makes more sense to include signatures in our data. So in the messages that are then wrapped in a data sync message record. The reason for this being is it makes no assumption on lower level transport and could still be used if we move away from whisper imo.

[2019-07-01 16:12] corpetty opened #111 "Feature Improvement: UI to work like lazydocker"
Found this project that implements a UI similar to how it's done in this repo, and he did an outstanding job of it.

https://github.com/jesseduffield/lazydocker

Thoughts on what it would take to rework the UI to behave this well?

[2019-07-02 07:32] #102 closed

[2019-07-03 06:49] StatusWrike commented on #61
➤ Nabil Naghdy commented:

Is there an updated ETA on this? Not much activity in the GH issue since 2 weeks ago

[2019-07-08 11:27] dshulyak opened #113 "Error "can't send a message pfs not enabled" when using API"
Sending message using API returns following error:
[code]

[code]

Is it known issue? Should API be adjusted?

[2019-07-08 11:28] dshulyak commented on #113
@adambabik do you know?

[2019-07-08 11:29] dshulyak commented on #113
Or should i run a client with pfs turned on? Can we make it on by default?

[2019-07-08 12:01] dshulyak commented on #61
I can make measurements. I tried to use `-ds` but i can't make it deliver messages. Can someone confirm that all is good with ds in current master?

I am running client binary in isolated cluster and the only difference between "naive" client from mvds is the absence of `-ds` flag. Everything else is identical.

[2019-07-08 12:21] adambabik commented on #113
I think we should get this working without PFS enabled. We can make it enabled by default as well. I will fix this, it's a bug in the recent merge.

[2019-07-09 10:21] oskarth commented on #110
@decanus do you want to add this to the spec and update mvds?

Also a question. Wouldn't this to some extent put security properties such as *Integrity* and *Authentication* on the data sync level? As opposed to at the secure transport layer. I'm noticing this because it's different from how e.g. Briar designed their layers. Contrast https://code.briarproject.org/briar/briar-spec/blob/master/proto

[2019-07-09 10:30] oskarth commented on #61
Thanks @dshulyak. @decanus @adambabik  could you please comment?

Also I suggest we split this issue up into simple and more advanced. @adambabik did you do this somewhere else? If so let's link this. Currently this issue is too big in scope. As discussed, what we need right now is just https://notes.status.im/7QYa4b6bTH2wMk3HfAaU0w# naive style 5m test but with mailservers in production (and prob

[2019-07-09 10:45] cammellos commented on #110
We are not planning to add this to data-sync, which will not be having to deal with I/Auth, it will be added to the application/encryption layer of the protocol.

Briar has the same, https://code.briarproject.org/briar/briar/blob/master/briar-core/src/main/java/org/briarproject/briar/blog/BlogPostValidator.java#L99 , a message is Data + Signature

The issue is that currently we use whisper for aut

[2019-07-09 12:38] adambabik commented on #61
@oskarth can we define first what we want to achieve? I seriously don't quite get the goal of this new simulation and also the old one.

We have https://notes.status.im/7QYa4b6bTH2wMk3HfAaU0w# which simulates communicating between 3 nodes while 90% of packets each node tries to send is skipped. It turned out that the latency is 5 minutes. What do these 5 minutes mean, that it took 5 minutes that t

[2019-07-09 12:53] dshulyak commented on #61
i thought that it took 5m to deliver message since the time sender posted that message. e.g. there are at least 2 actors, one of them sends the message, that time is saved and then we check the difference when the other side receives message from the network. at least this is that i did in status-scale.

that number will be growing with offline period, e.g. if node is offline for 24h and online fo

[2019-07-09 14:54] #113 closed

[2019-07-09 15:26] decanus commented on #110
@oskarth this doesn’t require any changes to MVDS. It only requires a change to the status message.

[2019-07-10 04:20] oskarth commented on #61
@adambabik it means in one naive test run with nodes 10% online (2h a day) we got 5m latency and x100 BW increase for 1:1 chat. While this provided reliability over time, clearly this isn’t good enough.

Realistically, we are still going to have mailserver for v1. So we want to see what the naive run looks like in terms of bandwidth and latency. With similar minimal naive assumptions (one or a few

[2019-07-10 04:22] oskarth commented on #110
Gotcha thanks

[2019-07-10 04:35] dshulyak commented on #61
@oskarth how it can be 5m always? if peer is offline for 24h how delivery latency can be less than this time?

thanks, i understand that it can be exponentially decaying. the difference with brumble is that you know for sure that peer is offline (direct connection) and thus you have a clear heuristic to stop/resume retransmission. with whisper you effectively never know if another peer online or n

[2019-07-10 05:39] StatusWrike commented on #61
5m seems roughly right _given 10% random uptime_ assumption. Of course it’d look different if you are offline for 24h. We can do more extended testing with other parameters but this seems like the most basic KISS one to me to get done first. One useful extension would be longer offline periods as well as more “sticky” behavior (on 23h, off 1h), but this seems like enhancements.

That’s true and fa

[2019-07-15 03:48] decanus opened #118 "Update to use new MVDS subscription channel"
https://godoc.org/github.com/status-im/mvds/node#Node.Subscribe

We currently use a hack in order to get the status messages sent over data sync, by both adding the packet to transport and then decoding. We no longer need to do this, we can do it in 2 seperate spaces.

[2019-07-15 22:08] decanus opened #119 "Sync State SQLLite"
To ensure that the sync state does not get cleared every time we stop and restart the client, we need to store it in SQLLite rather than in memory.

[2019-07-15 22:11] decanus opened #120 "MVDS Epoch persistence"
When the application is stopped, the current MVDS epoch and current unix time should be saved. Upon restarting the application the epoch and unix time should be read, then the difference of the time closed and current time should be investigated, added to the epoch and used as the epoch when creating the MVDS node.

[code]

[2019-07-16 09:17] StatusWrike commented on #61
➤ Oskar Thoren commented:

To be done here, more precise task splits incoming https://github.com/status-im/mvds-simulations

[2019-07-17 06:51] dshulyak commented on #61
@oskarth can you clarify why this measurement makes sense to you? just want to understand the thought process. is it something commonly used?

when i think about delivery latency and potential bw overhead i want to know usage pattern (online/offline ratio and how often peers goes online), based on this usage pattern i can do measurements using small period of time (e.g. not practical to run a simu

[2019-07-17 09:29] oskarth commented on #61
It doesn't really matter. It's just the simplest thing that isn't completely wrong and doesn't add unnecessary assumptions. The point is you can test it in a few minutes, unlike the two months this issue has been open with little progress.

If there's another method that can be done and we can use this to gain confidence in our trade-offs that's fine. The point is to ship something sooner rather t

[2019-07-17 13:32] adambabik opened #122 "Bring back JSON-RPC API functionality"
As a developer
I would like the console client to expose JSON-RPC API
so that I can automate some tasks without interacting with the UI.

### Description

Take a look at `internal/gethservice` package. It has some code commented out which needs to be brought back after refactoring.

### Acceptance criteria

The following JSON-RPC methods should be available
* `client_send` which sends a message,
*

[2019-07-19 08:16] dshulyak commented on #61
I mentioned earlier that i could run this test (https://github.com/status-im/status-scale/blob/master/tests/clients_test.go) to understand bw overhead. The only issue was that console client api couldn't get messages from data sync.

[2019-07-19 10:26] oskarth commented on #61
@adambabik @decanus did you guys figure out why `-ds` flag stopped working?

[2019-07-19 18:46] decanus commented on #61
@oskarth I am not sure it may be due to the larger architectural overhaul. I will try and figure it out on monday however.

[2019-07-23 09:24] cammellos commented on #119
@decanus what about payloads, do they need to be persisted as well?

[2019-07-23 15:37] decanus commented on #119
@cammellos, no. Only syncstate, message store and epoch.

[2019-07-23 15:45] cammellos commented on #119
@decanus what about peers? is a client expected to re-add peers each time it starts up?

[2019-07-23 18:25] decanus commented on #119
@cammellos yeah we should also persist those. Should I create something like a peerbook that would allow us to easier manage peers externally from the node/

[2019-07-23 18:35] cammellos commented on #119
@decanus no worries, I have already added something on those lines here https://github.com/vacp2p/mvds/tree/bugfix/acks

[2019-07-24 03:30] oskarth opened #123 "Improve experimental Nimbus support (sketch)"
Allow Nimbus to be used as the main node for real interactive/scripted chat.

(Blocked by https://github.com/status-im/status-console-client/pull/79 and related to https://github.com/status-im/status-nim/issues/1 - update: no longer blocked)

## Acceptance criteria
Negotiable, minimally scoped improvement with follow up issues fine.

Hook up interactive public chats to use Nimbus node for posting

[2019-08-02 06:48] oskarth commented on #123
I compiled a rough list of  packages/functions/types etc we currently rely on from  `geth` and `status-go` in `status-console-client`. Perhaps this is useful in terms of coming up with a plan for getting Nimbus into the app? I suspect a lot of these already exist, and in some cases (util fns) we can do it gradually. Just to get a rough overview. https://gist.github.com/oskarth/bf3a523df8cef353990a

[2019-08-02 06:52] oskarth commented on #123
Also see https://github.com/status-im/nimbus/pull/360 for relevnat discussion

[2019-09-11 13:10] kdeme commented on #123
I had a brief chat with @PombeirP and understood that for status-core the preferred way to start is to have a more lower level API. Let's say a direct Whisper API, similar to the existing Whisper RPC API (https://github.com/status-im/nimbus/blob/master/nimbus/rpc/whisper.nim#L8) .

I think the long term goal should be to have a "Status protocol" API in Nimbus, where
the lower level work is done be

[2019-09-13 20:44] adambabik commented on #123
I don't quite get "a direct Whisper API" part. Does it mean a higher level of abstraction built on top of Whisper API? If yes, I don't think that's the most useful thing to start with. However, if you think so, https://github.com/status-im/status-protocol-go/blob/master/transport/whisper/whisper_service.go can be considered as a higher level of abstraction.

Generally, the whole Status Protocol co

[2019-09-13 20:47] adambabik commented on #123
We don't use it. Here is the stuff we use: https://github.com/status-im/status-protocol-go/blob/master/transport/whisper/whisper_service.go. We almost entirely rely on filters directly.

[2019-09-14 12:48] kdeme commented on #123
With "direct" I meant a Whisper API that gives direct access/control to all or most of the Whisper functionality. Similar like the [Whisper v6 RPC API](https://github.com/ethereum/go-ethereum/wiki/Whisper-v6-RPC-API) does (but without the RPC part obviously). Post messages with all the options, filters with all the options, and although this is not really purely Whisper functionality, the system o

[2019-09-17 06:06] adambabik commented on #123
I see. We have this in geth as a "Whisper service" and on top of it the JSON-RPC API is built on. And later as you noticed we added `transport/whisper/whisper_service.go` to abstract it even more.

Correct.

They currently don't that's why I pointed to https://github.com/status-im/status-protocol-go/blob/90905dec7cba95e2b8c3b904d9eaebaeca57ad59/message_processor.go#L202-L228 first. This should be

[2019-10-15 04:54] oskarth opened #131 "Client doesn't send or receive messages"
[code]

Check other mobile client in same channel, no activity. Same for send and receive.
![image](https://user-images.githubusercontent.com/1552237/66801150-082cf980-ef53-11e9-8bc1-f340a3429190.png)

Logs:

[code]

client:

[code]

ipc:

[code]

Expected result: it works and I can use it to chat

^ @adambabik

[2019-10-15 06:41] adambabik commented on #131
@oskarth this is known. The same problem as with status-react develop and the root cause is PoW calculation. We are upgrading staging fleet today. I will reply here when it's ready and confirm it works with `-fleet=eth.staging`.

[2019-11-04 10:30] oskarth commented on #131
@adambabik what's the latest with this?

[2019-11-04 12:58] adambabik commented on #131
It works with `-fleet=eth.staging` just fine. However, I noticed a problem with 1-1 conversations. Public chats work fine.

[2019-11-04 13:03] adambabik commented on #131
Actually, 1-1 fails only on my branch, it works fine on master. Please reopen if you experience any issues.

[2019-11-04 13:03] #131 closed

[2019-11-26 16:21] #123 closed